
$ALL_blocks--margin-width: 30px
$ALL_blocks--margin: $ALL_blocks--margin-width auto
$ALL_blocks--padding-width: 15px
$ALL_blocks--padding: $ALL_blocks--padding-width * 2


$SMALL--width: 300px
$SMALL-input--width: $SMALL--width - $ALL_blocks--padding - 10px

$BIG--width: 675px
$BIG-form_block--width-mobile: $SMALL--width - $ALL_blocks--padding
$BIG-form_block--width-normal: ($BIG--width - $ALL_blocks--padding) / 3 - 20px
$BIG-input--width-normal: $BIG-form_block--width-normal - 10px



#GROUND .ground-block

  >.block-content

    >.title, form > .title
      padding: 10px 0
      margin:
        bottom: 10px

      border-bottom: 1px solid #eee
      color: #666
      font-weight: bold
      font-size: 18px
      text-align: center

    .field_shell, form > div
      position: relative

      input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], select, button, textarea
        margin:
          left: 0
          right: 0
        +box-sizing(border-box)

      input[type=checkbox]
        position: absolute
        right: 8px
        top: 9px
        width: 18px
        height: 18px


    form > div:last-child
      margin:
        top: 10px
      padding:
        left: 5px
        top: 10px

      border-top: 1px solid #eee


#GROUND .ground-block.SMALL > .block-content
  width: $SMALL--width
  margin: $ALL_blocks--margin

  input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], select, button, textarea
    width: $SMALL-input--width
    margin:
      left: auto
      right: auto


/////////////////////////////////////////////////

#GROUND .ground-block.BIG > .block-content
  width: $SMALL--width
  margin: $ALL_blocks--margin

  .form_block.visible
    max-height: 700px
    cursor: auto

    .shell_form
      height: 0

    .title
      color: #999
      cursor: pointer


  .form_block
    position: relative
    display: block
    max-height: 100px
    overflow: hidden

    +transition(max-height 500ms ease)
    cursor: pointer
    vertical-align: top

    .shell_form
      position: absolute
      left: 0
      right: 0
      bottom: 0
      
      height: 50px
      background-image: linear-gradient(transparent, white)
      +transition(height 500ms ease)

    .title
      font-size: 14px
      color: $G-COLOR-1
      text-align: left
      padding-bottom: 5px

  input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], select, textarea
    display: block
    width: $SMALL-input--width
    margin:
      left: auto
      right: auto


@media (min-width: $G-SIZE-2)

  #GROUND >.ground:not(.smaller) .ground-block.BIG > .block-content
    width: $BIG--width

    .form_block
      display: inline-block
      width: $BIG-form_block--width-normal
      max-height: 700px
      margin-right: $ALL_blocks--padding-width

      cursor: auto

      .shell_form
        height: 0

      .title
        color: #999
        cursor: auto

    input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], select, textarea
      width: $BIG-input--width-normal


@media (min-width: 1300px)

  #GROUND >.ground.smaller .ground-block.BIG > .block-content
    width: $BIG--width

    .form_block
      display: inline-block
      width: $BIG-form_block--width-normal
      max-height: 700px
      margin-right: $ALL_blocks--padding-width

      cursor: auto

      .shell_form
        height: 0

      .title
        color: #999
        cursor: auto

    input[type=text], input[type=email], input[type=password], input[type=number], input[type=url], select, textarea
      width: $BIG-input--width-normal