
#GROUND .ground-block

  >.block-content

    >.title, form > .title
      padding: 10px 0
      margin-bottom: 10px
      border-bottom: 1px solid #eee
      color: #666
      font-weight: bold
      font-size: 18px
      text-align: center

    .field_shell, form > div
      position: relative

      input[type=text], input[type=email], input[type=password], input[type=number], select, button, textarea
        margin:
          left: 0
          right: 0
        +box-sizing(border-box)

      input[type=checkbox]
        position: absolute
        right: 8px
        top: 9px
        width: 18px
        height: 18px


    form > div:last-child
      padding-top: 10px
      margin-top: 10px
      border-top: 1px solid #eee


#GROUND .ground-block.SMALL > .block-content
  width: 330px
  margin: 30px auto

  .field_shell

    input[type=text], input[type=email], input[type=password], input[type=number], select, button, textarea
      width: 100%


#GROUND .ground-block.BIG > .block-content
  width: 300px
  margin: 30px auto

  .edit_address
    display: block

    .title
      font-size: 14px
      color: #999
      text-align: left
      padding-bottom: 5px

    .field_shell

      input[type=text], input[type=email], input[type=password], input[type=number], select, textarea
        width: 90%

  .field_shell

    input[type=text], input[type=email], input[type=password], input[type=number], select, button, textarea
      width: auto


@media (min-width: 700px)

  #GROUND .ground-block.BIG > .block-content
    width: 660px
    margin: 30px auto

    .edit_address
      display: inline-block
      width: 215px