
.field_shell

  .field
    border: 1px solid transparent

  .form_block .field
    margin: 0
    padding: 0
      left: 5px

  //////////////////////////////////////////////////////////////

  button.icon
    background:
      color: transparent
      image: none
    border: none
    padding: 0
    margin: 0 3px
    line-height: 25px
    height: 20px

    >i
      display: inline-block
      width: 20px
      height: 20px

      opacity: .8
      +background-img( '', 100%, center)

    >i:hover
      opacity: 1

  //////////////////////////////////////////////////////////////

  .checkbox
    width: 100%
    position: relative
    min-height: 27px

    label
      cursor: pointer

    label.checkbox-field
      width: 20px
      height: 20px
      cursor: pointer
      position: absolute
      top: 3px
      left: 0
      background: linear-gradient(top, #222 0%, #45484d 100%)
      border: $G-STYLE-DARK-BORDER
        radius: 2px
      font-size: 19px

    label.checkbox-text
      position: relative
      left: 2px

      font-size: 16px
      opacity: .8


    label.checkbox-field
      &:after
        content: '✔'
        width: 9px
        height: 5px
        position: absolute
        top: -4px
        left: 2px

        border: none
        background: transparent
        opacity: 0

      &:hover::after
        opacity: .3

      &:hover
        border-color: $G-COLOR-DARKER-BORDER

      &:hover + label.checkbox-text, & + label.checkbox-text:hover
        opacity: 1


    input[type=checkbox]
      visibility: hidden
      &:checked + label.checkbox-field
        border-color: $G-COLOR-DARKER-BORDER

        &:after, & + label.checkbox-text
          opacity: 1


  //////////////////////////////////////////////////////////////

  select
    +background-img(url('/_static/img/icons/32/dark/sort_down.png'), 15px, right)
    min-width: 150px
    height: 34px
    padding: 5px 35px 5px 5px

    border: 1px solid #999
      bottom: #aaa
    font-size: 16px
    cursor: pointer
    opacity: .8

    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

  select:hover, select:focus
    opacity: .9

