
$cart--width: 300px
$cart-title--height: 100px

$cart--background-color: $g-color_4
$cart--color: $g-color_0


#CART
  top: 80px
  right: -$cart--width
  bottom: 0

  min-width: $cart--width
  width: $cart--width

  background-color: $cart--background-color
  color: $cart--color
  border-left: $g-style_border

  >.cart

    >.cart-title
      display: block
      height: $cart-title--height
      line-height: $cart-title--height

      text-align: center
      font-size: 20px
      font-weight: bold

    >.cart-list
      display: block
      min-height: $cart-title--height

      padding: 10px 15px

      >li >div
        display: inline-block


@media (min-width: 1000px)

  #CART
    top: 90px