
$cart--width: 400px
$cart-title--height: 70px

$cart--background-color: $g-color_4
$cart--color: $g-color_0


#CART
  top: 80px
  right: -$cart--width
  bottom: 0

  width: 100%

  background-color: $cart--background-color
  color: $cart--color
  border-left: $g-style_border

  z-index: 59

#CART, #PAYMENT

  >.cart, >.payment

    >.cart-close
      position: absolute
      top: 20px
      right: 20px

      width: 20px
      height: 20px

      text-align: center
      cursor: pointer

      >i
        display: block
        width: 20px
        height: 20px

        opacity: 0.7
        +background-img('/_static/img/close.gif', 100%, center)

      >span
        position: relative
        left: -2px
        top: -3px

        color: #999
        font-size: 16px

    >.cart-close:hover

      >i
        opacity: 1

      >span
        color: $g-color_0


    >.cart-title
      display: block
      height: $cart-title--height
      line-height: $cart-title--height

      text-align: center
      font-size: 18px
      font-weight: bold
      border-bottom: $g-style_border

    >.cart-list
      display: block
      min-height: $cart-title--height

      margin: 10px 15px

      >li >*
        display: inline-block

      >li >.cart-list-name
        width: 58%

      >li >.cart-list-actions
        width: 40%
        color: $g-color_2

      >li >.cart-list-empty
        display: block
        text-align: center
        color: $g-color_2
        font-weight: bold

      >li >.cart-list-button
        margin-top: 50px
        width: 49%

        >button
          display: block
          width: 98%


@media (min-width: 750px)

  #CART
    width: $cart--width


@media (min-width: 1000px)

  #CART
    top: 90px