{% load staticfiles %}

<script>
  window.APP.DATA = {
    title : 'About'
    , description : 'This page is about us. ;)'
  };
</script>

<div class="ground-block block-1 about">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        {% for element in content %}

            {% if element.header %}
                <div class="block-content-header">
                    {{ element.header | safe }}
                </div>
            {% endif %}

            <div class="block-content-paragraph">

                {% if element.image %}
                    <div class="block-content-paragraph-text with_image">
                        {{ element.paragraph | safe }}
                    </div>
                {% else %}
                    <div class="block-content-paragraph-text">
                        {{ element.paragraph | safe }}
                    </div>
                {% endif %}


                {% if element.image and element.header %}
                    <div class="block-content-paragraph-image">
                        <img data-src="{{ element.image }}"
                             alt="{{ element.header }}"
                             src="{% static 'img/pixel.png' %}"/>
                    </div>
                {% elif element.image %}
                    <div class="block-content-paragraph-image">
                        <img data-src="{{ element.image }}"
                             alt="Example image"
                             src="{% static 'img/pixel.png' %}"/>
                    </div>
                {% endif %}

            </div>

        {% endfor %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "ground/html/footer.html" %}
