{% load tags %}

<script>
  window.APP.DATA = {
    title : ''
    , description : 'This is home page.'
  };
</script>

<div class="ground-block block-1">

  <div class="block-background fill-abs"></div>

  <div class="block-content">
      Polecane <br>

      <!--{% url 'cart.start' %} <br>-->
      <!--{% url 'navigation.start' %} <br>-->
      <!--{% url 'searcher.start' %}<br>-->

      {% for product in recommended %}

        {{ product.product }}

      {% endfor %}

  </div>

</div>

{% include "ground/html/footer.html" %}