// -----------------------------------------
//			  DEFINIOWANIE ZMIENNYCH
// -----------------------------------------

$wysokosc_naglowka_m: 72px
$wysokosc_naglowka_d: 82px

$header--color: $G-COLOR-0
$header--background-color: $G-COLOR-4
$header--border-color: transparent


@import 'header'
@import 'navigation_mini'
@import 'navigation_primary'
@import 'navigation_secondary'