// -----------------------------------------
//			  DEFINIOWANIE ZMIENNYCH
// -----------------------------------------

$wysokosc_naglowka_m: 72px
$wysokosc_naglowka_d: 82px

$header-navigation-secondary--color: $g-color_4
$header-navigation-secondary--background-color: $g-color_1

$header--color: $g-color_0
$header--background-color: $g-color_4
$header--border-color: transparent


// -----------------------------------------
//			  ELEMENTY NAGŁÓWKA
// -----------------------------------------

#HEADER
  position: relative
  z-index: 37

  display: block
  height: $wysokosc_naglowka_m

  background-color: transparent

  >.header
    position: relative
    height: inherit
    background-color: $header--background-color


@media screen and (min-width: 1000px)

  #HEADER
    height: $wysokosc_naglowka_d
    margin-left: 250px


    >div
      height: $wysokosc_naglowka_d


//--------------------------------------
//         Navigation mini
//--------------------------------------

#HEADER >.header >.navigation-mini
  display: block
  position: relative
  height: inherit
  text-align: center


  >li
    display: inline-block
    position: relative
    z-index: 38

    height: $wysokosc_naglowka_m - 30px
    width: $wysokosc_naglowka_m - 30px
    margin:
      top: 15px
      left: 15px
      right: 15px

    >button, >a
      display: inline-block
      width: inherit
      height: inherit

      padding: 0
      margin: 0

      line-height: 100%
      border: none
      background: none

  ////////////////////////////////////////

  >li.navigation-mini-filter
    float: left
    text-align: left

    >button, >a
      +background-img( '/_static/img/filter.png', 100% 100% )


  >li.navigation-mini-navigation
    text-align: center

    >button, >a
      +background-img( '/_static/img/menu_black.png', 100% 100% )


  >li.navigation-mini-cart
    float: right
    text-align: right

    >button, >a
      +background-img( '/_static/img/cart.png', 100% 100% )

  ////////////////////////////////////////

@media (min-width: 650px)

  #HEADER >.header >.navigation-mini
    display: none


//--------------------------------------
//         Navigation primary
//--------------------------------------

#HEADER >.header >.navigation-primary
  display: none


@media (min-width: 650px)

  #HEADER >.header >.navigation-primary
    display: block
    position: relative
    height: inherit


    >li
      display: inline-block
      position: relative
      z-index: 38

      margin-top: 30px
      height: 40px
      min-width: 150px

      border-radius: 2px

      >a
        display: block
        height: 100%
        padding: 0 15px

        font-size: 20px
        text-align: center
        color: $header--color

    >li.wybrany,
    >li:hover
      background-color: #fafafa

      >a
        color: $header--color

    >li.navigation-primary-language
      float: right
      display: block
      position: relative

      min-width: 40px !important
      width: 40px !important
      height: 40px !important

      margin: 0 15px
        top: 40px

      >button
        width: 100%
        height: 100%

        margin: 0

        border: none
        background-color: transparent

      >button.EN
        +background-img('/_static/img/flags/uk_UK.png', 100% 100%, center bottom)
      >button.PL
        +background-img('/_static/img/flags/pl_PL.png', 100% 100%, center bottom)
      >button.DE
        +background-img('/_static/img/flags/de_DE.png', 100% 100%, center bottom)



@media (min-width: 1000px)

  #HEADER >.header >.navigation-primary >li
    height: 55px
    line-height: 55px


//--------------------------------------
//         Navigation secondary
//--------------------------------------

#HEADER >.header >.navigation-secondary
  display: none


@media (min-width: 650px)

  #HEADER >.header >.navigation-secondary
    position: absolute
    left: 0
    top: 0
    right: 0

    display: block
    height: 30px
    padding:
      left: 265px
      right: 15px

    background-color: $header--color
    color: $header--background-color

    >.navigation-secondary-root
      float: left
      text-align: left

    >.navigation-secondary-user
      float: right
      text-align: right

    >ul
      display: inline-block

      >li
        display: inline-block
        width: auto
        font:
          size: 14px
          weight: normal

        >.link
          position: relative


@media (min-width: 650px)

  #HEADER >.header >.navigation-secondary
    left: -250px