<div class="BLOK1">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    User details:<br>

    Email: {{ user.email }} <br>
    Username: {{ user.username }} <br>
    <br>

    {% for id_address, edit_form_address in edit_forms_address.items %}
      <form method="post" action="" data-form="{{ form_name_edit }}_{{ id_address }}" data-test="yes">

        {% for address in edit_form_address %}

          <div class="otoczka_pola">
            {{ address }}
            {{ address.errors }}
          </div>

        {% endfor %}

        <div class="otoczka_pola">
          <button disabled type="submit"> Done </button>
        </div>

      </form>
    {% endfor %}

    <br><br>

    <form method="post" action="" data-form="{{ form_name_new }}" data-test="yes">

      <div class="title"> Login </div>

      {% for address in new_form_address %}

        <div class="otoczka_pola">
          {{ address }}
          {{ address.errors }}
        </div>

      {% endfor %}

      <div class="otoczka_pola">
        <button disabled type="submit"> Done </button>
      </div>

    </form>
  
  </div>

</div>
