<script>
  window.APP = {
    title : 'Login'
    , description : 'Here you can login.'
  };
</script>

<div class="BLOK1 USER_FORM">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    {% if not form or request.session.user_login %}

      Hello {{ request.session.user_username }}! You are login. ;)
      <script> window.dispatchEvent(window.EVENTS.redirect); </script>

    {% else %}

      <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

        <div class="title"> Login </div>

        {% for i in form %}

          <div class="otoczka_pola">
            {{ i }}
            {{ i.errors }}
          </div>

        {% endfor %}

        <div class="otoczka_pola">
          <button disabled type="submit"> Done </button>
        </div>

      </form>

    {% endif %}
  
  </div>

</div>
