<script>
  window.APP = {
    title : 'Login'
    , description : 'Here you can login.'
  };
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    {% if request.session.user_login %}
      Hello!<br />
      <a href="/user/logout/">Logout</a>.
    {% else %}
      Login

      <form method="post" action="" data-form="login" data-test="yes">

        {% for i in form %}

          <div class="otoczka_pola">

            {{ i }}
            {{ i.errors }}

          </div>

        {% endfor %}

        <div class="otoczka_pola">
          <button disabled type="submit"> Login </button>
        </div>

      </form>

    {% endif %}
  
  </div>

</div>
