<script>
  window.APP = {
    title : 'Login'
    , description : 'Here you can login.'
  };
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    {% if request.session.user_login %}
      Witamy!<br />
      <a href="/uzytkownik/wyloguj/">Wyloguj</a>.
    {% else %}
      Logowanie

      <form method="post" action="" data-form="login" data-test="yes">

        {% for i in form %}

          {{ i.errors }}
          <div class="otoczka_pola" class="test">

            {{ i }}
            <div class="status"></div>

          </div>

        {% endfor %}

        <div class="otoczka_pola">
          <button type="submit"> Zarejestruj </button>
        </div>

      </form>

    {% endif %}
  
  </div>

</div>
