<script>
  window.APP = {
    title : 'Register'
    , description : 'Here you can register.'
  };
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    Register

    <form method="post" action="" data-form="{{ form_name }}" data-test="yes">

      {% for i in form %}

        {% if i.name = 'password' %}

          <div class="otoczka_pola">
            {{ i }}
            <input type="checkbox" class="show_password" /> show password
            {{ i.errors }}
            <div class="status"></div>
          </div>

        {% else %}

          <div class="otoczka_pola">
            {{ i }}
            {{ i.errors }}
            <div class="status"></div>
          </div>

        {% endif %}

      {% endfor %}

      <div class="otoczka_pola"><button disabled type="submit"> Register </button></div>

    </form>
  
  </div>

</div>
