<script>
  window.APP = {
    title : 'Register'
    , description : 'Here you can register.'
  };
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    Register

    <form method="post" action="" data-test="yes">

      {% for i in form %}

        {{ i.errors }}
        {% if i.name == 'login' %}
          <div data-lp="" class="otoczka_pola sprawdz_pole">

            {{ i }}

          </div>
          <div class="status"></div>
        {% else %}
          <div class="otoczka_pola">

            {{ i }}

          </div>
        {% endif %}

      {% endfor %}

      <div class="otoczka_pola"><button disabled type="submit"> Register </button></div>

    </form>
  
  </div>

</div>
