<script>
  window.APP = {
    title : 'Register'
    , description : 'Here you can register.'
  };
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>


<div class="BLOK1 USER_FORM">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">

    {% if not form %}

        Hello {{ request.session.user_username }}! You are registered. Visit your mailbox and active account ;)
        <script> window.dispatchEvent(window.EVENTS.redirect); </script>

    {% else %}

      <form method="post" action="" data-form="{{ form_name }}" data-test="yes">

        <div class="title"> Register </div>

        {% for i in form %}

          {% if i.name == 'password' %}

            <div class="otoczka_pola">
              {{ i }}
              <input type="checkbox" class="show_password" />
              {{ i.errors }}
              <div class="status"></div>
            </div>

          {% else %}

            <div class="otoczka_pola">
              {{ i }}
              {{ i.errors }}
              <div class="status"></div>
            </div>

          {% endif %}

        {% endfor %}

        <div class="otoczka_pola"><button disabled type="submit"> Done </button></div>

      {% endif %}

    </form>
  
  </div>

</div>
