<script>
  window.APP.DATA = {
    title : '{{ title }}',
    description : 'This page is about us. ;)'
  };
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>
  {% include "ground/html/navigation.html" %}

  <div class="tresc">

    {% if not form %}

      Product has been insert to databases.
      <script>
        window.APP.DATA.redirect = '/product/new/';
        window.APP.DATA.delay = 2000;
        window.dispatchEvent(window.EVENTS.redirect);
      </script>

    {% else %}

      <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}">

        <div class="title"> Create new product </div>

        <button type="button" class="dialog_button" data-type="prompt" data-name="new_details_en"> New details for English </button>
        <button type="button" class="dialog_button" data-type="prompt" data-name="new_details_pl"> New details for Polish </button>
        <button type="button" class="dialog_button" data-type="prompt" data-name="new_details_de"> New details for Germany </button>

        {% for i in form %}

          <div class="otoczka_pola">
            {{ i }}
            {{ i.errors }}
          </div>

        {% endfor %}

        <div class="otoczka_pola">
          <button disabled type="submit"> Insert </button>
        </div>

      </form>

    {% endif %}

  </div>

</div>
