
.fragment.RWD > div > .posty.tresc
{
  padding-left: 0px;
  padding-right: 0px;
}

  .posty > li
  {
    overflow: hidden;
    margin-bottom: 10px;
      padding: 10px 15px;

    background-color: #fbfbfb;
      border-radius: 3px;
      border: 0px;
      border-top: 2px solid;
      border-bottom: 2px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    cursor: pointer;
  }


  .posty > li.tytul
  {
    padding-left: 30px;
    font-weight: bold;

    border: none;
    background-color: transparent;
  }


    .posty > li > .tytul
    {
      margin-bottom: 5px;
      font-weight: bold;
    }


    .posty > li > .tresc
    {
      padding-left: 15px;
    }


/*-----------------------------------------*\
							EKRAN KOMPUTERA
\*-----------------------------------------*/

  @media (min-width: 768px)
  {

    .posty > li
    {
      border: 2px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    }

  }


  @media (min-width: 870px)
  {


  }


  @media (min-width: 992px)
  {


  }


  @media (min-width: 1200px)
  {

    
  }

