{% load tags %}

{% if request.session.user_login %}

    <div class="cart-close">
        <i>&nbsp;</i>
        <span>esc</span>
    </div>

    <div class="cart-title"> Shopping cart </div>

    <ul class="cart-list">

        {% if cart %}

            {% for selected in cart %}

            <li>
                <div class="cart-list-name">
                    <a href="/product/{{ selected.product.pk }}/{{ selected.product.details_en.name }}/">
                        {{ selected.product.details_en.name }}
                    </a>
                </div>
                <div class="cart-list-actions field_shell"> {{ selected.number }} x {% price selected.product %}
                    <!--<button class="post_button" type="button"-->
                           <!--data-name="Delete_{{ product.pk }}"-->
                           <!--data-action=""-->
                           <!--data-value="{{ product.pk }}"-->
                           <!--data-reload="cart"-->
                           <!--data-url="/cart/">X</button>-->
                </div>
            </li>

            {% endfor %}

            <li class="field_shell">
                <div class="cart-list-button">
                    <button class="post_button" type="button"
                            data-name="Clear_cart"
                            data-action="clear"
                            data-reload="cart"
                            data-url="/cart/">Clear cart</button>
                </div>
                <div class="cart-list-button">
                    <a class="button submit" style="font-weight: normal" href="/payment/">Go to paymants</a>
                </div>
            </li>

            <!--{{ suma }}-->

        {% else %}

            <li>
                <div class="cart-list-empty">
                    Cart is empty
                </div>
            </li>

        {% endif %}

    </ul>

{% else %}

    Loading...

{% endif %}