<script>
  window.APP.DATA = {
    title : 'Company details',
    description : ''
  };
</script>

<div class="ground-block block-1 SMALL">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        <div class="block-content-message">

            {% if password %}
                Hi, nice to meet you! This is your password {{ password }}. Write down or remeber this password! ;)
            {% else %}
                Sorry... Root already exists.
            {% endif %}

        </div>

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "EN/footer/standard.html" %}