<script>
    window.APP.DATA = {
        title : 'About us',
        description : 'This page is about us. ;)'
    };
</script>

<div class="ground-block block-1 BIG users_payments">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        {% if request.session.root_payments_approved %}
            <div class="title"> Approved </div>
        {% else %}
            <div class="title"> Not approved </div>
        {% endif %}


        {% include "cart/html/users_payments.html" %}


    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "ground/html/footer.html" %}
