
.produkty > li.tytul
  padding-left: 30px
  margin-bottom: 10px
  font-weight: bold

  border: none
  background-color: transparent


.produkt
  overflow: hidden
  margin-bottom: 10px
  padding: 0

  background-color: #fbfbfb
  border: 1px solid
    radius: 3px
    color: #e5e6e9 #dfe0e4 #d0d1d5
  cursor: pointer

  >a
    display: block
    height: 100%
    padding: 10px 15px

    >.zdjecie
      height: 300px
      overflow: hidden

      >img
        width: auto
        height: auto
        max-width: 100%
        max-height: 225px
        margin: auto


    >.tytul
      margin-bottom: 5px
      font-weight: bold


    >.tresc
      padding-left: 15px


//-----------------------------------------
//					  	EKRAN KOMPUTERA
//-----------------------------------------

@media (min-width: 768px)

  .produkt
    border: 1px solid
      color: #e5e6e9 #dfe0e4 #d0d1d5

//
  @media (min-width: 870px)


  @media (min-width: 992px)


  @media (min-width: 1200px)

