
#GROUND >.ground >.ground-block[data-name=start]
  >.block-content
    padding: 0
      bottom: 50px

    >.block-content-banner
      width: 100%
      position: relative

      >img
        max-width: 1000px
        width: 100%
        max-height: 470px

    >.block-content-describe, >.block-content.products.tiles
      margin:
        left: 15px
        right: 15px
