
.product_details
  position: relative
  padding:
    top: 15px !important
    bottom: 50px !important

  >.block-content-left, >.block-content-right
    display: block
    width: auto
    height: auto

  .product_details-image
    +my-box()

    position: relative
    width: 100%
    padding: 0
      top: 100%

    >div
      text-align: center

      >img
        max-width: 100%
        max-height: 100%

        vertical-align: middle


  .product_details-section
    +my-box()



@media (min-width: 400px)

  .product_details

    .product_details-image
      width: 400px
      height: 400px
      margin: 0 auto
      padding: 0


@media (min-width: 750px)

  .product_details

    >.block-content-left
      position: absolute
      left: 15px
      top: 30px
      width: 300px

    >.block-content-right
      margin-left: 315px
      border-left: $g-style_border


    .product_details-image
      width: auto
      height: auto
      padding-top: 100%

    .product_details-section
      margin: 0
        bottom: 10px
      min-height: 80px

