
$cart--width: 250px
$cart--z-index: 60

$cart-title--height: 100px


#CART
  position: absolute
  top: 0
  right: -$cart--width
  bottom: 0
  z-index: $cart--z-index

  display: block
  min-width: $cart--width
  width: $cart--width
  overflow: hidden

  background-color: $g-color_1
  color: $g-color_3


  >.cart-title
    display: block
    height: $cart-title--height

    line-height: $cart-title--height
    font-size: 18px
    font-weight: bold

  >.cart-list
    display: block
    min-height: $cart-title--height