
{% include "arbuz/html/admission.html" %}
<!------------- Container - start -------------->


  <!-- Dialogue window -->
  {% include "dialogue_window/html/main.html" %}

  <!-- Navigation -->
  {% include "navigation/html/vertical.html" %}

  <!-- Filters -->
  {% include "filters/html/main.html" %}

  <!-- Header -->
  {% include "arbuz/html/header.html" %}

  <!-- Content -->
  {% include "content/html/main.html" %}

  <!-- Cart -->
  {% include "cart/html/main.html" %}


<!------------- Container - end -------------->
{% include "arbuz/html/ending.html" %}