/*    CSS   */

/**************************** #START ****************************/


#TRESC.start > .BLOK1 > div.tlo
{
  background-image: url('../img/Tapeta_1.jpg');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK2 > div.tlo
{
  background-color: #e9ebee;
}



#TRESC.start > .BLOK2
{
  color: #333;

  padding-top: 0px;
}



#TRESC.start > .BLOK2 > .tresc
{
  margin-top: 20px;
}



#TRESC.start > .BLOK3 > div.tlo
{
  background-color: rgba(30, 29, 28, 1);
}



#TRESC.start > .BLOK3
{
  color: #DDD;
}



#TRESC.start > .BLOK4 > div.tlo
{
  background-color: #fff;
}



#TRESC.start > .BLOK2
{
  color: #333;
}




/**************************** #TRESC - START ****************************/

#TRESC.start > div
{
  position: relative;
  display: inline-block;
  margin: 0px;

  width: 100%;
  min-height: 700px;
}

#TRESC.start > .BLOK1
{
  display: none;
}


@media screen and (min-width:600px)
{

  #TRESC.start > .BLOK1
  {
    display: block;
  }



  #TRESC.start > .BLOK1 > .napis
  {
    display: none;
    position: absolute;
    width: 435px;
    height: 185px;

    top: 40px;
    right: 340px;
    
    background-image: url( '/static/img/2.png' );
    background-position: right;
    background-repeat: no-repeat;

    z-index:12;
  }
}



@media screen and (min-width:1000px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    top: 20px;
    right: 130px;
  }
}



@media screen and (min-width:1350px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    right: 200px;
  }
}



@media screen and (min-width:1650px)
{
  #TRESC.start > .BLOK1 > .napis
  {
    right: 340px;
  }
}



#TRESC.start > .BLOK1 > div.strzalka
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;

  height: 150px;
  
  background-color: rgba(0, 0, 0, 0.5);

  z-index:12;
}



#TRESC.start > .BLOK1 > .strzalka > .obrazek
{
  position: relative;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  width: 70px;
  height: 70px;

  background-image: url('../img/strzalki.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}



#TRESC.start > .BLOK1 > .strzalka > .obrazek:hover
{
  cursor: pointer;

  background-image: url('../img/strzalki.png');
}



#TRESC.start > .BLOK1 > .strzalka > .podpis
{
  position: relative;

  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;
  height: 50px;

  font-size: 22px;
  color: #ff8000;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
}



#TRESC.start > .BLOK1 > .strzalka > .podpis
{
  cursor: pointer;
}

