<script>
  window.APP.DATA = {
    title : 'O nas'
    , description : 'Ta strona opowiada o nas. ;)'
  };
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>
  {% include "content/html/navigation.html" %}
  
  <div class="tresc">
    <button class="submit_secure alert">Alert</button>
    <button class="submit_secure prompt">Prompt</button>
    <button class="submit_secure confirm">Confirm</button>

    <br>
    {% for product in products %}

      <a href="/product/{{ product.pk }}/{{ product.details_en.name }}">
        <img data-src="{{ product.image }}" alt="image"><br>

        {{ product.details_en.name }}<br>
        <!--{{ product.details_en.description }}<br>-->

        price euro: {{ product.price_eur }}<br>
        price pln:  {{ product.price_pln }}<br>
        <br><br>
      </a>

    {% endfor %}
  
  </div>

</div>
