.fill-abs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fill-rel {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fill-fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

@font-face {
  font-family: 'OS_Regular';
  src: url("/static/img/czcionki/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'OS_Bold';
  src: url("/static/img/czcionki/OpenSans-Bold.ttf"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body, html {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  color: #333;
  font-family: 'OS_Regular', sans-serif;
  font-size: 19px;
  line-height: 1.45; }

body {
  position: absolute;
  overflow: hidden; }

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: bold; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#CONTAINTER {
  overflow: hidden;
  z-index: 3;
  background-color: #f4f4f4; }
  #CONTAINTER > .part {
    position: relative;
    z-index: 5; }

#extensions-right {
  position: fixed;
  top: 20px;
  right: 70px;
  display: block;
  width: 150px;
  z-index: 40; }
  #extensions-right > div {
    display: none; }
    #extensions-right > div > .extension-mark {
      float: left;
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;
      z-index: 22; }
      #extensions-right > div > .extension-mark > img {
        min-width: 28px;
        width: 28px;
        height: 28px; }
    #extensions-right > div > .extension-text {
      display: block;
      position: relative;
      z-index: 21;
      line-height: 28px;
      background: #fff; }
  #extensions-right > .change_language {
    background: none;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
    background: transparent;
    position: relative;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-align: left; }
    #extensions-right > .change_language > .extension-text > * {
      background: none;
      border: none;
      box-shadow: none;
      box-sizing: border-box;
      outline: none;
      background: transparent;
      width: 105px;
      padding: 4px 0px;
        padding-left: 10px;
      margin-left: -10px;
      font-size: 14px;
      font-weight: bold; }

@media (min-width: 750px) {
  #extensions-left, #extensions-right {
    top: 100px;
    z-index: 20; }
    #extensions-left > .extension, #extensions-right > .extension {
      padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #333;
      font-size: 16px;
      background: #fff;
      border: 1px solid #ddd;
        border-radius: 3px;
      padding-left: 10px;
      padding-right: 10px; }
  #extensions-left {
    left: 20px; }
    #extensions-left > .extension {
      text-align: right; }
      #extensions-left > .extension > .extension-mark {
        float: right; }
  #extensions-right {
    right: 20px; }
    #extensions-right > .extension {
      text-align: left; }
      #extensions-right > .extension > .extension-mark {
        float: left; } }

@media (min-width: 1000px) {
  #extensions-left, #extensions-right {
    top: 120px; } }

#DIALOGUE_WINDOW {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4); }
  #DIALOGUE_WINDOW > .window {
    display: block;
    position: relative;
    width: 500px;
    margin: 200px auto;
      margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
      border-radius: 3px; }
    #DIALOGUE_WINDOW > .window > .window-header {
      padding: 10px 12px;
      line-height: 19px;
      background-color: #f6f7f9;
      border-bottom: 1px solid #e5e5e5;
      border-radius: 3px 3px 0 0;
      color: #1d2129;
      font-weight: bold; }
    #DIALOGUE_WINDOW > .window > .window-content {
      padding: 12px;
      font-size: 14px;
      line-height: 18px; }
      #DIALOGUE_WINDOW > .window > .window-content > .window-content-part > div {
        padding-bottom: 5px; }
      #DIALOGUE_WINDOW > .window > .window-content > .window-content-part > input {
        width: 468px;
        box-sizing: border-box; }
      #DIALOGUE_WINDOW > .window > .window-content > .window-content-part:last-child {
        text-align: right; }

#CART {
  top: 0;
  right: -250px;
  bottom: 0;
  min-width: 250px;
  width: 250px;
  background-color: #3b2915;
  color: #d8d9dd; }
  #CART > .cart > .cart-title {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold; }
  #CART > .cart > .cart-list {
    display: block;
    min-height: 100px;
    padding: 10px 15px; }
    #CART > .cart > .cart-list > li > div {
      display: inline-block; }
  #CART > .hide {
    right: 100%;
    top: 0;
    bottom: 0;
    width: 200px;
    background-image: -webkit-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: -moz-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: -ms-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: -o-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5)); }

#SEARCHER {
  top: 0;
  left: -250px;
  bottom: 0;
  min-width: 250px;
  width: 250px;
  background-color: #3b2915;
  color: #d8d9dd; }
  #SEARCHER > .searcher > .logo_text {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold; }
  #SEARCHER > .searcher > div > .otoczka_pola > input {
    padding-left: 5px; }
  #SEARCHER > .searcher > div > .otoczka_pola > * {
    display: block;
    width: 220px;
    height: 50px;
    margin: 10px 15px;
    padding: 0;
    background-color: transparent;
    color: inherit;
    border: none; }
    #SEARCHER > .searcher > div > .otoczka_pola > * > option {
      background-color: #3b2915; }
  #SEARCHER > .searcher > .searcher-filters {
    display: block;
    width: 100%; }
    #SEARCHER > .searcher > .searcher-filters > .searcher-filters-title {
      display: block;
      height: 50px;
      line-height: 50px;
      font-weight: bold;
      text-align: center; }
    #SEARCHER > .searcher > .searcher-filters > .searcher-filters-content {
      display: block;
      min-height: 50px;
      padding: 10px 15px; }
  #SEARCHER > .hide {
    left: 100%;
    top: 0;
    bottom: 0;
    width: 200px;
    background-image: -webkit-linear-gradient(right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: -moz-linear-gradient(right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: -ms-linear-gradient(right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: -o-linear-gradient(right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5));
    background-image: linear-gradient(right, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.5)); }

@media (min-width: 1000px) {
  #SEARCHER {
    left: 0 !important; } }

#NAVIGATION {
  top: 100%;
  right: 0;
  left: 0;
  height: auto; }
  #NAVIGATION > .navigation {
    position: relative;
    height: auto;
    color: #d8d9dd;
    background-color: #3b2915; }
    #NAVIGATION > .navigation > .navigation-mini {
      display: none; }
    #NAVIGATION > .navigation > .navigation-primary > .navigation-secondary-space, #NAVIGATION > .navigation > .navigation-secondary > .navigation-secondary-space {
      display: none; }
    #NAVIGATION > .navigation > .navigation-primary > li, #NAVIGATION > .navigation > .navigation-secondary > li {
      position: relative;
      height: 45px;
      border-bottom: solid #666 1px;
      background-color: #d8d9dd; }
      #NAVIGATION > .navigation > .navigation-primary > li > .link, #NAVIGATION > .navigation > .navigation-secondary > li > .link {
        padding: 0 15px;
        line-height: 45px;
        background-color: #3b2915;
        -webkit-transition: left 0.2s, -webkit-transform 0.2s;
        transition: left 0.2s, transform 0.2s; }
      #NAVIGATION > .navigation > .navigation-primary > li > .link:hover, #NAVIGATION > .navigation > .navigation-primary > li > .link.wybrany, #NAVIGATION > .navigation > .navigation-secondary > li > .link:hover, #NAVIGATION > .navigation > .navigation-secondary > li > .link.wybrany {
        left: 20px;
        color: #f4f4f4; }
    #NAVIGATION > .navigation > .navigation-primary .guzik_menu, #NAVIGATION > .navigation > .navigation-secondary .guzik_menu {
      display: none;
      margin: 0 30px;
        margin-top: 20px; }
  #NAVIGATION > .hide {
    top: 100%;
    left: 0;
    right: 0;
    height: 200px;
    background-image: -webkit-linear-gradient(bottom, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.4));
    background-image: linear-gradient(bottom, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.4)); }

@media (min-width: 650px) {
  #NAVIGATION {
    top: -100% !important; } }

#HEADER {
  position: relative;
  z-index: 37;
  display: block;
  height: 70px;
  background-color: transparent; }
  #HEADER > .header {
    position: relative;
    height: inherit;
    background-color: #f4f4f4;
    border-bottom: 1px solid #d8d8d8; }

@media screen and (min-width: 1000px) {
  #HEADER {
    height: 90px;
    margin-left: 250px; }
    #HEADER > div {
      height: 90px; } }

#HEADER > .header > .navigation-mini {
  display: block;
  position: relative;
  height: inherit;
  text-align: center; }
  #HEADER > .header > .navigation-mini > li {
    display: inline-block;
    position: relative;
    z-index: 38;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px; }
    #HEADER > .header > .navigation-mini > li > button, #HEADER > .header > .navigation-mini > li > a {
      display: inline-block;
      width: inherit;
      height: inherit;
      padding: 0;
      margin: 0;
      line-height: 100%;
      border: none;
      background: none; }
  #HEADER > .header > .navigation-mini > li.navigation-mini-filter {
    float: left;
    text-align: left; }
    #HEADER > .header > .navigation-mini > li.navigation-mini-filter > button, #HEADER > .header > .navigation-mini > li.navigation-mini-filter > a {
      background-image: url("/static/img/filter.png");
      background-size: 100% 100%;
      background-position: 0 0;
      background-repeat: no-repeat; }
  #HEADER > .header > .navigation-mini > li.navigation-mini-navigation {
    text-align: center; }
    #HEADER > .header > .navigation-mini > li.navigation-mini-navigation > button, #HEADER > .header > .navigation-mini > li.navigation-mini-navigation > a {
      background-image: url("/static/img/menu_black.png");
      background-size: 100% 100%;
      background-position: 0 0;
      background-repeat: no-repeat; }
  #HEADER > .header > .navigation-mini > li.navigation-mini-cart {
    float: right;
    text-align: right; }
    #HEADER > .header > .navigation-mini > li.navigation-mini-cart > button, #HEADER > .header > .navigation-mini > li.navigation-mini-cart > a {
      background-image: url("/static/img/cart.png");
      background-size: 100% 100%;
      background-position: 0 0;
      background-repeat: no-repeat; }

@media (min-width: 650px) {
  #HEADER > .header > .navigation-mini {
    display: none; } }

#HEADER > .header > .navigation-primary {
  display: none; }

@media (min-width: 650px) {
  #HEADER > .header > .navigation-primary {
    display: block;
    position: relative;
    height: inherit; }
    #HEADER > .header > .navigation-primary > li {
      display: inline-block;
      position: relative;
      z-index: 38;
      margin-top: 30px;
      height: 40px;
      min-width: 150px;
      border-top: 4px transparent solid; }
      #HEADER > .header > .navigation-primary > li > a {
        font-size: 20px;
        text-align: center;
        color: #3b2915; }
    #HEADER > .header > .navigation-primary > li.wybrany,
    #HEADER > .header > .navigation-primary > li:hover {
      border-top-color: #3b2915; }
      #HEADER > .header > .navigation-primary > li.wybrany > a,
      #HEADER > .header > .navigation-primary > li:hover > a {
        color: #333; }
    #HEADER > .header > .navigation-primary > li.guzik_menu {
      float: right;
      display: none;
      position: relative;
      min-width: 40px !important;
      width: 40px !important;
      height: 34px;
      margin: 0 30px;
        margin-top: 30px;
      background-image: none;
      background-size: 100% 100%;
      background-position: center bottom;
      background-repeat: no-repeat; } }

@media (min-width: 1000px) {
  #HEADER .header-nav-primary > li {
    margin-top: 40px; } }

#HEADER > .header > .navigation-secondary {
  display: none; }

@media (min-width: 650px) {
  #HEADER > .header > .navigation-secondary {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    height: 30px;
    padding-right: 15px;
    background-color: #9d948a;
    color: #f4f4f4;
    text-align: right; }
    #HEADER > .header > .navigation-secondary > li {
      display: inline-block;
      width: auto;
      font-size: 14px;
      font-weight: normal; }
      #HEADER > .header > .navigation-secondary > li > .link {
        position: relative; } }

.container-motion {
  position: absolute;
  z-index: 60;
  display: block;
  overflow: visible; }
  .container-motion > .hide {
    position: absolute;
    display: none; }

img {
  display: inline-block;
  position: relative;
  min-width: 300px;
  height: 200px;
  opacity: 0.4;
  z-index: 1; }

#GROUND {
  display: block;
  overflow-y: auto; }
  #GROUND > .ground {
    position: relative;
    opacity: 0.4; }
    #GROUND > .ground > .block-1 {
      border-bottom: 1px solid #d8d8d8; }
    #GROUND > .ground > .ground-block {
      position: relative;
      display: inline-block;
      margin: 0;
      width: 100%;
      min-height: 550px; }
      #GROUND > .ground > .ground-block > .navigation {
        position: relative;
        z-index: 12;
        height: 52px;
        margin: 0;
        line-height: 32px;
        padding: 10px 15px;
        background: #d8d9dd; }
        #GROUND > .ground > .ground-block > .navigation > * {
          display: inline-block;
          height: 32px;
          margin: auto 5px;
          line-height: 32px; }
          #GROUND > .ground > .ground-block > .navigation > * > i {
            display: inline-block;
            width: 30px;
            line-height: 32px;
            background-image: url(/static/img/home.png);
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat; }
      #GROUND > .ground > .ground-block > .block-title {
        position: relative;
        z-index: 12;
        margin-top: 15px;
        padding-left: 30px;
        color: #333;
        font-size: 18px;
        font-weight: bold; }
      #GROUND > .ground > .ground-block > .block-content {
        position: relative;
        padding: 10px 15px;
        z-index: 12;
        color: #333;
        font-size: 16px; }
      #GROUND > .ground > .ground-block > .block-background {
        z-index: 10;
        background-color: #f4f4f4; }
    #GROUND > .ground > .block-2 > .block-background {
      background-color: #f4f4f4; }
    #GROUND > .ground .block-content > .title {
      font-size: 18px;
      font-weight: bold; }
    #GROUND > .ground .block-content > .paragraph {
      margin-bottom: 15px;
      margin-left: 15px; }

.block-content {
  position: relative;
  padding: 10px 15px;
  z-index: 12; }

.block-background {
  z-index: 10; }

@media (min-width: 1000px) {
  #GROUND {
    margin-left: 250px; } }

.content-footer {
  position: relative;
  height: 100px;
  background-color: #f4f4f4; }

.container-part > div > .posty.tresc {
  padding-left: 0;
  padding-right: 0; }

.posty > li {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #fbfbfb;
  border: 0;
    border-radius: 3px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  cursor: pointer; }
  .posty > li > .tytul {
    margin-bottom: 5px;
    font-weight: bold; }
  .posty > li > .tresc {
    padding-left: 15px; }

.posty > li.tytul {
  padding-left: 30px;
  font-weight: bold;
  border: none;
  background-color: transparent; }

@media (min-width: 768px) {
  .posty > li {
    border: 1px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5; } }

#GROUND > div[data-url='/'] > .block-1 {
  min-height: 115px; }
  #GROUND > div[data-url='/'] > .block-1 > .block-content {
    margin-top: 10px;
    margin-bottom: 10px; }

/* -------------------------------- */
#BLOK_WYSZUKAJ > .naglowek {
  padding: 10px 15px;
    padding-bottom: 3px; }
  #BLOK_WYSZUKAJ > .naglowek .otoczka_pola > * {
    background-color: #fbfbfb; }
  #BLOK_WYSZUKAJ > .naglowek > .kategorie button {
    display: none; }

/* -------------------------------------------- */
@media (min-width: 630px) {
  #BLOK_WYSZUKAJ > .naglowek > * {
    display: inline-block;
    width: 38%;
    float: right; }
  #BLOK_WYSZUKAJ > .naglowek > *:first-child {
    width: 58%;
    float: none; } }

@media (min-width: 768px) {
  #BLOK_WYSZUKAJ > .naglowek > .kategorie button {
    display: block; }
  #BLOK_WYSZUKAJ > .naglowek > .kategorie select {
    display: none; } }

.product {
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer; }
  .product > a {
    display: block;
    height: 100%;
    padding: 10px 15px; }
    .product > a > .product-img {
      height: 300px;
      overflow: hidden; }
      .product > a > .product-img > img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 225px;
        margin: auto; }
    .product > a > .product-title {
      margin-bottom: 5px;
      font-weight: bold; }
    .product > a > .product-content {
      padding-left: 15px; }

.container-part > div > .products.tiles {
  padding-left: 0;
  padding-right: 0; }

.products.tiles > .product {
  width: auto;
  max-width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
  .products.tiles > .product > a > .product-img {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center; }
  .products.tiles > .product > a > .product-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 30px; }
  .products.tiles > .product > a > .product-content {
    max-width: 300px;
    margin: 0 auto;
    padding: 0; }

@media (min-width: 768px) {
  .products.tiles > .product {
    display: inline-block;
    width: 285px;
    max-width: none; }
    .products.tiles > .product > a > .product-img {
      height: 200px;
      overflow: hidden; }
    .products.tiles > .product > a > .product-content {
      padding-left: 20px;
      padding-right: 20px; }
  .products.tiles > .product:nth-child(2n) {
    margin-right: 5px; }
  .products.tiles > .product:nth-child(2n+1) {
    margin-left: 5px; } }

@media (min-width: 870px) {
  .products.tiles > .product {
    width: 285px; } }

@media (min-width: 992px) {
  .products.tiles > .product {
    width: 360px; } }

@media (min-width: 1200px) {
  .products.tiles > .product {
    width: 445px; } }

.otoczka_pola input[type=text], .otoczka_pola input[type=email], .otoczka_pola input[type=password], .otoczka_pola input[type=number], .otoczka_pola select, .otoczka_pola button, .otoczka_pola textarea {
  margin: 2px 3px;
    margin-bottom: 8px;
  outline: none;
  border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 3px;
  line-height: 25px;
  padding: 5px 10px;
  font-size: 14px;
  font-family: 'OS_Regular', sans-serif; }

.otoczka_pola input[type=text]:disabled, .otoczka_pola input[type=email]:disabled, .otoczka_pola input[type=password]:disabled, .otoczka_pola input[type=number]:disabled, .otoczka_pola select:disabled, .otoczka_pola button:disabled, .otoczka_pola textarea:disabled {
  background-color: #efefef;
  border: 1px solid #d9d9d9; }

.otoczka_pola input[type=text]:focus, .otoczka_pola input[type=email]:focus, .otoczka_pola input[type=password]:focus, .otoczka_pola input[type=number]:focus, .otoczka_pola select:focus, .otoczka_pola button:focus, .otoczka_pola textarea:focus {
  border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.otoczka_pola button {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2; }

.otoczka_pola button:hover {
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6; }

.otoczka_pola button:focus {
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #4d90fe; }

.otoczka_pola button[type=submit] {
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff; }

.otoczka_pola button[type=submit]:disabled {
  background-color: #efefef;
  background-image: none;
  border: 1px solid #d9d9d9;
  color: #333; }

.otoczka_pola .status {
  display: none;
  margin: 2px 3px;
  color: #dd4b39; }

.otoczka_pola .form_error {
  border: 1px solid #dd4b39 !important; }

#TRESC > .BLOCK > .tresc {
  background: #fff;
  border: 1px solid #ddd;
    border-radius: 3px; }
  #TRESC > .BLOCK > .tresc > .title, #TRESC > .BLOCK > .tresc form > .title {
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #666;
    font-weight: bold;
    font-size: 18px;
    text-align: center; }
  #TRESC > .BLOCK > .tresc .otoczka_pola {
    position: relative; }
    #TRESC > .BLOCK > .tresc .otoczka_pola input[type=text], #TRESC > .BLOCK > .tresc .otoczka_pola input[type=email], #TRESC > .BLOCK > .tresc .otoczka_pola input[type=password], #TRESC > .BLOCK > .tresc .otoczka_pola input[type=number], #TRESC > .BLOCK > .tresc .otoczka_pola select, #TRESC > .BLOCK > .tresc .otoczka_pola button, #TRESC > .BLOCK > .tresc .otoczka_pola textarea {
      margin-left: 0;
      margin-right: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #TRESC > .BLOCK > .tresc .otoczka_pola input[type=checkbox] {
      position: absolute;
      right: 8px;
      top: 9px;
      width: 18px;
      height: 18px; }
  #TRESC > .BLOCK > .tresc .otoczka_pola:last-child {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #eee; }

#TRESC > .BLOCK.SMALL > .tresc {
  width: 330px; }
  #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola input[type=text], #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola input[type=email], #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola input[type=password], #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola input[type=number], #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola select, #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola button, #TRESC > .BLOCK.SMALL > .tresc .otoczka_pola textarea {
    width: 100%; }

#TRESC > .BLOCK.BIG > .tresc {
  width: 660px; }
  #TRESC > .BLOCK.BIG > .tresc .edit_address {
    display: inline-block;
    width: 215px; }
    #TRESC > .BLOCK.BIG > .tresc .edit_address .title {
      font-size: 14px;
      color: #999;
      text-align: left;
      padding-bottom: 5px; }
    #TRESC > .BLOCK.BIG > .tresc .edit_address .otoczka_pola input[type=text], #TRESC > .BLOCK.BIG > .tresc .edit_address .otoczka_pola input[type=email], #TRESC > .BLOCK.BIG > .tresc .edit_address .otoczka_pola input[type=password], #TRESC > .BLOCK.BIG > .tresc .edit_address .otoczka_pola input[type=number], #TRESC > .BLOCK.BIG > .tresc .edit_address .otoczka_pola select, #TRESC > .BLOCK.BIG > .tresc .edit_address .otoczka_pola textarea {
      width: 90%; }
  #TRESC > .BLOCK.BIG > .tresc .otoczka_pola input[type=text], #TRESC > .BLOCK.BIG > .tresc .otoczka_pola input[type=email], #TRESC > .BLOCK.BIG > .tresc .otoczka_pola input[type=password], #TRESC > .BLOCK.BIG > .tresc .otoczka_pola input[type=number], #TRESC > .BLOCK.BIG > .tresc .otoczka_pola select, #TRESC > .BLOCK.BIG > .tresc .otoczka_pola button, #TRESC > .BLOCK.BIG > .tresc .otoczka_pola textarea {
    width: auto; }

.mini_form {
  margin-bottom: 0; }
  .mini_form > div {
    display: inline-block; }
  .mini_form .label {
    display: none; }
  .mini_form .otoczka_pola {
    width: 100%; }
    .mini_form .otoczka_pola div {
      display: inline-block;
      line-height: 25px;
      padding: 6px 11px;
      font-size: 14px;
      min-width: 150px;
      width: 70%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .mini_form .otoczka_pola input {
      display: none;
      margin: 0;
      min-width: 150px;
      width: 70% !important; }

@media (min-width: 370px) {
  .mini_form {
    margin-bottom: 10px; }
    .mini_form .label {
      display: inline-block;
      max-width: 150px;
      width: 30%; }
    .mini_form .otoczka_pola {
      width: 60%; } }

/*# sourceMappingURL=app.css.map*/