
//  Standard style elements

=background-img( $sciezka, $rozmiar: auto auto, $pozycja:0 0 )
  background:
    image: url( $sciezka )
    size: $rozmiar
    position: $pozycja
    repeat: no-repeat

=box-shadow($param)
  -moz-box-shadow: $param
  -webkit-box-shadow: $param
  box-shadow: $param

=linear-gradient($param1, $param2, $param3)
  background:
    image: -webkit-linear-gradient($param1, $param2, $param3)
    image: -moz-linear-gradient($param1, $param2, $param3)
    image: -ms-linear-gradient($param1, $param2, $param3)
    image: -o-linear-gradient($param1, $param2, $param3)
    image: linear-gradient($param1, $param2, $param3)

=box-sizing($param)
  -webkit-box-sizing: $param
  -moz-box-sizing: $param
  box-sizing: $param


//  Own style elements

=my-box()
  padding: 10px
    left: 15px
    right: 15px
  +box-sizing(border-box)

  color: #333
  font-size: 16px
  background: #fff
  border: 1px solid #ddd
    radius: 3px

=no_style_field()
  background: none
  border: none
  box-shadow: none
  box-sizing: border-box
  outline: none
  background: transparent