<script>
  Kontroler_Tresci.Wklej_Dane({
    title : 'Logowanie'
    , description : 'Na tej stronie możesz się zalogować.'
  });
</script>


<div class="BLOK1">

  <div class="tlo abs_pelny"></div>

  <div class="tresc">
  
    {% if request.session.uzytkownik_zalogowany %}
      Witamy!<br />
      <a href="/uzytkownik/wyloguj/">Wyloguj</a>.
    {% else %}
      Logowanie

      <form method="post" action="">

        {% for i in form %}

          {{ i.errors }}
          <div class="otoczka_pola">

            {{ i }}

          </div>

        {% endfor %}

        <div class="otoczka_pola"><button type="submit"> Zarejestruj </button></div>

      </form>

    {% endif %}
  
  </div>

</div>
