<script>
  window.APP.DATA = {
    title : 'Register',
    description : 'Here you can register.'
  };
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>


<div class="ground-block block-1 BIG users_payments">

    <div class="block-background fill-abs"></div>
    {% include "ground/html/navigation.html" %}

    <div class="block-content">

        {% for item in shopping %}

            <div class="form_block fields">
                <div>

                    <div class="shell_form"></div>

                    <div class="title field_shell">
                        <button class="icon" type="button">
                            <i style="background-image: url(/_static/img/icons/32/dark/shopping_cart.png)"> &nbsp; </i>
                        </button>
                        {{ item.payment.date }}<br>
                        {{ item.full_name }}
                    </div>

                    {% for selected in item.products %}
                        <div class="field">
                            <span>{{ selected.product }}</span> <span>x {{ selected.number }}</span>
                        </div>
                    {% endfor %}

                    <div class="field_shell">
                        <div>
                            <span>{{ item.payment.service }}</span> <span>{{ item.payment.total_price }} {{ item.payment.currency }}</span>
                        </div>
                        <div>
                            <button class="dialog_button" type="button"
                                    data-type="alert"
                                    data-name="address"
                                    data-value="{{ item.payment.pk }}">
                                Show addresses
                            </button>
                            <a class="button" href="{% url 'pdf.invoice' pk=item.payment.pk full=True %}" target="_blank">
                                Get invoice
                            </a>
                        </div>
                    </div>

                </div>
            </div><!-- form_block fields -->

        {% endfor %}

    </div><!-- block-content -->

</div><!-- ground-block -->

{% include "ground/html/footer.html" %}
