
<ul class="navigation-primary">

    <li>
        <a class="link fill-abs" href="/">
            Home
        </a>
    </li>

    <li>
        <a class="link fill-abs" href="/products/">
            Products
        </a>
    </li>

    <li>
        <a class="link fill-abs" href="/about/">
            About
        </a>
    </li>

    {% if request.session.user_login %}
    <li>
        <a class="link fill-abs" href="/user/account/">
            Account
        </a>
    </li>
    {% else %}
    <li>
        <a class="link fill-abs" href="/user/sign_in/">
            Sign in
        </a>
    </li>
    {% endif %}

</ul>


<ul class="navigation-secondary">

    <li>
        <a class="link fill-abs" href="/user/sign_up/">
            Sign up
        </a>
    </li>

    <li class="navigation-secondary-space"> | </li>

    <li>
        <a class="link fill-abs" href="/contact/">
            Contact
        </a>
    </li>

    <li class="navigation-secondary-space"> | </li>

    {% if request.session.user_login %}
    <li>
        <a class="link fill-abs" href="/user/sign_in/">
            Cart
        </a>
    </li>
    {% else %}
    <li>
        <a class="link fill-abs" href="/user/sign_in/">
            Cart
        </a>
    </li>
    {% endif %}

</ul>