<script>
  window.APP.DATA = {
    title : 'Change password',
    description : 'Change password.',
    redirect : '/user/change_password/',
  };
</script>


<div class="BLOK1 BLOCK SMALL">

  <div class="tlo abs_pelny"></div>
  {% include "content/html/navigation.html" %}

  <div class="tresc">

    {% if not form %}

      Password has been changed.
      <script>
        window.APP.DATA.redirect = '/user/login/';
        window.APP.DATA.delay = 2000;
        window.dispatchEvent(window.EVENTS.redirect);
      </script>

    {% else %}

      <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

          <div class="title"> Change your password </div>

          {% for i in form %}

            <div class="otoczka_pola">
              {{ i }}
              {{ i.errors }}
            </div>

          {% endfor %}

          <div class="otoczka_pola">
            <button disabled type="submit"> Reset my password </button>
          </div>
          <a href="/user/login/" class="otoczka_pola">
            <button type="button"> Return to Login page </button>
          </a>

        </form>

    {% endif %}

  </div>

</div>
