<script>
  window.APP.DATA = {
    title : 'Forget password',
    description : 'Forget your password.',
    redirect : '/user/forget/',
  };
</script>


<div class="BLOK1 BLOCK SMALL">

  <div class="tlo abs_pelny"></div>
  {% include "content/html/navigation.html" %}

  <div class="tresc">

    {% if not form %}

      The mail has been send to current email address. Please visited your mailbox.

    {% else %}

    Forget your password? Don't worry. Enter your email address and login to mailbox. We send link to change password for you.

    <form method="post" action="" data-name="{{ form_name }}" data-type="{{ form_name }}" data-test="yes">

        <div class="title"> Enter your email </div>

        {% for i in form %}

          <div class="otoczka_pola">
            {{ i }}
            {{ i.errors }}

            {% if i.name == 'email' %}
            <div class="status"></div>
            {% endif %}
          </div>

        {% endfor %}

        <div class="otoczka_pola">
          <button disabled type="submit"> Send </button>
        </div>
        <a href="/user/login/" class="otoczka_pola">
          <button type="button"> Return to Login page </button>
        </a>

      </form>

    {% endif %}
  
  </div>

</div>
